cycler==0.10.0
decorator==4.1.2
Django==2.0.1
django-filter==1.1.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.6
djangorestframework==3.7.7
joblib==0.11
Markdown==2.6.11
matplotlib==2.1.1
networkx==2.0
numpy==1.13.3
pandas==0.22.0
Pillow==5.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
