<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


    <style type="text/css">
        [type="radio"]:not(:checked), [type="radio"]:checked {
            opacity: 1;
            position: relative;
        }

        label {
            font-size: 1rem;
            color: #000000;
        }
        ul.errorlist > li{
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="header">
        <h3 class="center">Machine Teaching Experiment</h3>
        {% if show_memory_nav %}
            <nav>
                <div class="nav-wrapper">
                    <ul class="left hide-on-med-and-down">
                        <li><a href="{%  url 'memory_images' '2' %}">Trial 01</a></li>
                        <li><a href="{%  url 'memory_images' '2' %}">Trial 02</a></li>
                        <li><a href="{%  url 'memory_images' '2' %}">Trial 03</a></li>
                    </ul>
                </div>
            </nav>
        {% endif %}
        <hr>

    </header>
    <article class="content" style="min-height: 600px">
        {% block content %}
        {% endblock %}
    </article>
    <footer class="footer">
        <hr>
        <p class="center-align">STAR LAB @ Arizona State University.</p>
        <p class="center-align">Any issues? Contact <a href="mailto:arunreddy@asu.edu">arunreddy@asu.edu</a> (or) <a href="mailto:yzhou174@asu.edu">yzhou174@asu.edu</a></p>
    </footer>
</div>
<footer>

</footer>

</body>
</html>
