{% extends 'common/index.html' %}
{% block content %}
    <br><br>
    <p class="center-align">Image {{ curr_image_no }}/{{ total_image_no }}</p>
    <div class="row">
        <div class="col s4 offset-s4">
            <img src="https://s3-us-west-2.amazonaws.com/jediasu/img/{{ image }}.jpg"
                 alt=""
                 class="z-depth-2"
                 style="border:3px solid #000000;"
                 >
        </div>
    </div>
    <div class="row">
        <form action="{% url 'jedi_teacher_feedback' %}" method="post">
            <div class="col s4 offset-s4">
                <div class="row">
                    {% csrf_token %}
                    {{ form }}
                    <input type="hidden" value="{{ image_id }}" name="image_id">
                </div>
            </div>
            <div class="col s2 offset-s5">
                <input type="submit" value="Next" class="btn btn-primary center-align">
            </div>
        </form>
    </div>

   
    <hr>
    <div class="row">
      <h5>Notes</h5>
      <ol class="text-red red-text"> 
        <li> Please do not refresh or hit the back button while taking the test.</li>
        <li> Please be aware that you might get few repeated images during the teaching process. </li>
      </ol>
    </div>
    


    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_label > li').each(function () {
                $(this).addClass('col s6')
            })
        })
    </script>

{% endblock %}
