{% extends 'common/index.html' %}
{% block content %}

    <div class="row">
        <div class="col s12">Timer: <span id="timeLabel" class="float-right center">0</span> seconds.</div>
    </div>
    <ul id="items" class="row">
    </ul>
    <div class="row">

        <a id="nextBtn" href="{% url 'memory_images_test' %}" class="btn waves-effect waves-light col s2 offset-s8">Next
            <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>

    <script type="text/javascript">
        function orderButtonClicked() {

            var _li = []
            $('#items').children().each(function () {
                var _obj = $(this)
                _li.push(_obj.attr('order'))
            })

            console.log(_li)
        }

        function goToNextPage() {
            console.log('Next page clicked..')
            $('#nextBtn').get(0).click();
        }

        function updateTime() {

            var timeVal = parseInt($('#timeLabel').text());
            $('#timeLabel').text(timeVal - 1)

        }

        $(document).ready(
            $.getJSON('/memory/get_images/{{ n_img }}', function (data) {
                var images = data['images']
                for (var i in images) {
                    $('#items').append('<li class="col s3" order="' + i + '">' +
                        '<img src="https://s3-us-west-2.amazonaws.com/jediasu/memory/' + images[i] + '" width="200px" height="200px"/>' +
                        '</li>')
                }
                setInterval(goToNextPage, (images.length+1) * 1000)
                $('#timeLabel').text(images.length+1)
                setInterval(updateTime, 1000)
            })
        );
    </script>
{% endblock %}
