{% extends 'common/index.html' %}
{% block content %}
<div class="container">

    <ul id="items" class="row">
    </ul>

</div>

<button onclick="orderButtonClicked()">Re Order</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
<script type="text/javascript">
    var el = document.getElementById('items');
    var sortable = Sortable.create(el);


    function orderButtonClicked() {

        var _li = []
        $('#items').children().each(function () {
            var _obj = $(this)
            _li.push(_obj.attr('order'))
        })

        console.log(_li)
    }

    $(document).ready(
            $.getJSON('/memory/get_images_test', function (data) {
            var images = data['images']
            for (var i in images) {
                $('#items').append('<li class="col s3" order="'+i+'">' +
                    '<img src="https://s3-us-west-2.amazonaws.com/jediasu/' + images[i] + '" width="200px" height="200px"/>' +
                    '</li>')
            }
        })
    );
</script>
{% endblock %}