{% extends 'common/index.html' %}
{% block content %}
    <p>Instructions:</p>
    <p>You will be shown a set of images anywhere from 2-10. You have to remember the order and when given a random set
        of images, arrange them in the order presented to you. You will be given one second for each image to go through
        and remember them. For e.g., you will be given 8 seconds for 8 images.</p>

    <p>Click on the Next button to continue.</p>

    <p>Please enter your personal details to proceed:</p>
    <form action="" method="post">

        <fieldset>
            <legend class="red-text">Personal Information</legend>
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="submit" value="Start" class="btn btn-primary">
        </fieldset>
    </form>

    <p></p>
{% endblock %}