{% extends 'common/index.html' %}
{% block content %}
    <p>Instructions:</p>
    <p>You will be shown a set of images anywhere from 2-10. You have to remember the order and when given a random set
        of images, arrange them in the order presented to you. You will be given one second for each image to go through
        and remember them. For e.g., you will be given 8 seconds for 8 images.</p>

    <p>Click on the Start button to continue.</p>

    <p class="center-align">
        <a href="/memory/images/2" class="btn btn-primary">Start</a>
    </p>
    <p></p>
{% endblock %}